---
import { technologies } from "../data/technologies.json";
import SectionTitle from "../components/SectionTitle.astro";
import { Icon } from "astro-icon";
import TechnologyTab from "./react/TechnologyTab";
import TechDisplay from "./react/TechDisplay";
---

<div class="mt-12 md:mt-10">
    <SectionTitle title="Technologies" />
    <!-- section tabs -->
    <TechnologyTab client:load technologies={technologies} />
    <!-- tech display -->
    <TechDisplay client:load />
</div>
