---
const { technologies, index } = Astro.props;
---

<div class="text-sm mt-6 space-x-3">
    {
        technologies.map((item: { name: string }, idx: number) => {
            return (
                <button
                    id="tab-button"
                    class={`tracking-wide ${
                        index == idx
                            ? "text-neutral-200 underline underline-offset-4"
                            : "text-neutral-400"
                    }`}
                >
                    {item.name}
                </button>
            );
        })
    }
</div>

<script is:inline></script>
